@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to azure WebApps - deployed by Tools via Git v2</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h3>@ViewData["Greetings"]</h3>
    <h3>Hello all lets try this</h3>
</div>
